0x00-unity-ar_business_card/Assets/SamplesResources/SceneAssets/ImageTargets/Video/VuforiaEngine.mp4
0x00-unity-ar_business_card/Assets/Editor/Migration/com.ptc.vuforia.engine-10.2.5.tgz
0x00-unity-ar_business_card/Assets/SamplesResources/AugmentationAssets/Models/Astronaut.FBX
0x00-unity-ar_business_card/Packages/com.ptc.vuforia.engine-10.2.5.tgz
